h1{
    padding-left: 5%;
}
.img1 {
    margin-right: 50px;
    margin-left: 50px;
}
header{
    box-sizing: 50px;
}
.image{
    float: left;
    margin-left:2%;
    margin-right:2%;
}
.image1{
    float: right;
    margin-left:2%;
    margin-right:2%;
    }
p{
    padding-left: 5%;
}
