h1{
    padding-left: 5%;
}
.img1 {
    align:center;
   
}
header{
    box-sizing: 50px;
}
.image{
    float: left;
    margin-left:0%;
    margin-right:5%;
}
.image1{
    float: right;
    margin-left:5%;
    margin-right:5%;
    }
p{
    padding-left: ;
}
body{
    font-size: 14px;
}
