
header{
    box-sizing: 50px;
}

.imagepage{
    margin-bottom: 40px;
    margin-left: 60px;
}

.img_locaux {
    margin-left: 80px;
   
}
.imagelogo{
    margin-left:0%;
    margin-right:0%;
    max-height: 100%;
    max-width: 100%;
    margin-top: 0%;
}
.imagecarte{
    float: right;
    margin-left:5%;
    margin-right:5%;
    }

body{
    font-size: 20px;
}
figure {
    float: left;
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 5px;
    max-width: 32%;
    margin-top: 16px;
    margin-right: 15px;
}
figcaption {
    margin-top: 5px;
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}
.carte{
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    max-width: 100%;
    margin-left: 15% ;
    margin-right: 25%;
}
.imagechiffre{
    float: right;
    margin-left:5%;
    margin-right:5%;
}
.chiffre{
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    max-width: 100%;
    margin-left: 12%;
    margin-right: 25%;
}
.repartition{
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    max-width: 100%;
    margin-left: 5%;
    margin-right: 25%;
}
.imagerepartition{
    float: right;
    margin-left:5%;
    margin-right:5%;
}

h3{
    padding-left: 5%;
}

h2{
    font-size: 150%;
    margin-top: 30px;
    margin-left: 5%;
}

h1{
    padding-left: 70px;
}

.index{
    padding-left: 7%;
    padding-right: 20%;
    font-size : 19px;
}
